<ion-view view-title="Justin Beeper">
    <ion-content scroll="false" padding="true">
        <form ng-submit="checkOrder()">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-pizza placeholder-icon"></i>
                    <input type="number" placeholder="Order number" ng-model="data.orderID">
                </label>
            </div>
            <button class="button button-block button-stable">
                OK!
            </button>
        </form>
    </ion-content>
</ion-view>
